/* base */
@import "../base/base.css";
@import "../base/layout.css";

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* Custom style gooes below this comment line */

/* Hero start */
section.bg-main {
    background-image: url(../../img/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}
.hero > .logo {
    height: 60px;
}
.hero > .title {
    font-size: 70px;
    text-transform: uppercase;

}
.hero > .description {
    color: var(--hero-text-color);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* hero end */

/* main start */
/* main end */

/* Footer start */
/* footer end */