/* base */
@import "../base/base.css";
@import "../base/layout.css";

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* Custom style gooes below this comment line */

/* Hero start */
section.bg-main {
    background-image: url(../../img/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}
.hero > .logo {
    height: 60px;
}
.hero > .title {
    font-size: 70px;
    text-transform: uppercase;

}
.hero > .description {
    color: var(--hero-text-color);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* hero end */

/* main start */
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}
.right-column {
    width: 40%;
}
.section-title {
    text-transform: uppercase;
    font-size: 20px;
}
.section-description {
    font-size: 18px;
    color: #777;
}
.section-description > a {
    font-size: 18px;
    color: red;
    text-decoration: none;
}
.section-description > a:hover {
    text-decoration: underline;
}
/* main end */

/* Footer start */
.footer.container {
    padding: 0;
}
footer > .row {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-bottom: 2px solid #fff;
}
.footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
}
.footer-bottom > .logo {
height: 60px;
margin: 40px 0;
}
.footer-bottom > .futeriukai {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.footer-bottom a {
    color: #fffa;
}
/* footer end */